@media (max-width: 1200px){
	header {
		h1 {
			font-size:2em;
		}
	}
	
	
	
}
@media (max-width: 992px){
	.Gallery {
		img {
			max-width:175px;
			margin-bottom:5px;
		}
		margin-bottom:10px;
		text-align:center;
	}
}
@media (max-width:820px) {
	.blueimp-gallery > .description {
		width:550px;
		margin-left:-275px;
	}
}
@media (max-width: 767px) {
	header {
		h1 {
			font-size:1.6em;
		}
		img {
			padding:0 20px;
		}
		
	}
	

	
}
@media (max-width: 700px) {
	
}
@media (max-width: 550px) {
	
	
	header {
		h1 {
			font-size:1.2em;
			margin-top:25px;
		}
		img {
			padding:0 25px;
		}
	}
	

	
}
@media (max-width: 370px) {
	
	header {

	}
	
}
@media (max-device-width: 1024px) {
	
}